# Importando e Organizando os Dados - Parte 1

In [1]:
# Importando as bibliotecas
import numpy as np
import pandas as pd

In [2]:
# Criando uma série
ser = pd.Series(np.random.random(5), name="Column 01")

# Visualizando a série
ser

0    0.800209
1    0.777669
2    0.068185
3    0.491373
4    0.512469
Name: Column 01, dtype: float64

In [3]:
# Importando dados do pacote datareader
from pandas_datareader import data as wb

In [7]:
# Extraindo dados do Yahoo Finance
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')
#  'PG' = ticker

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6584 entries, 1995-01-03 to 2021-02-25
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6584 non-null   float64
 1   Low        6584 non-null   float64
 2   Open       6584 non-null   float64
 3   Close      6584 non-null   float64
 4   Volume     6584 non-null   float64
 5   Adj Close  6584 non-null   float64
dtypes: float64(6)
memory usage: 360.1 KB

In [8]:
# Visualizando o DataFrame
PG.head()

# Informações sobre o conjunto de dados
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6584 entries, 1995-01-03 to 2021-02-25
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6584 non-null   float64
 1   Low        6584 non-null   float64
 2   Open       6584 non-null   float64
 3   Close      6584 non-null   float64
 4   Volume     6584 non-null   float64
 5   Adj Close  6584 non-null   float64
dtypes: float64(6)
memory usage: 360.1 KB

In [9]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()

for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [10]:
# Visualizando o new_data
new_data.tail()

                    PG        MSFT          T      F     GE
Date
2021-02-19  127.120003  240.970001  29.000000  11.58  12.02
2021-02-22  126.580002  234.509995  29.320000  11.70  12.50
2021-02-23  127.519997  233.270004  29.180000  11.62  12.59
2021-02-24  127.660004  234.550003  29.379999  12.27  13.12
2021-02-25  126.580002  228.990005  28.629999  11.76  12.76